*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header{

    background-color: white;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position-y: 98px;
    height: 750px;

}

nav{

    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}

.logo{

    width: 139px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.header-nav{

    max-width: 365px;
    list-style: none;
    color: black;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;


}

.btn1{

    width: 251px;
    height: 52px;
    background-color: #469165;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    margin-right: 120px;
    cursor: pointer;

}

.btn2{

    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(0, 255, 255, 0);
    padding: 16.5px 16px 16.5px 46px;
    color: white;
    background-color: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.header-button{

    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.header-content{

    padding: 115.5px;
    align-items: center;

}

.button{

    background-color: white;
    color: #30B868;
    border-radius: 1000px;
    text-align: center;
    padding: 8px 12px 8px 12px;
    max-width: 229px;
    margin: 0 auto;

}

.header-content h1{

    color: white;
    font-weight: 700;
    font-size: 72px;
    text-align: center;

}

.header-content span{

    color: #30B868;

}

.header-info{

    max-width: 1360px;
    color: white;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;

}

.app-container{

    margin-top: 50px;
    text-align: center;

}

.app-container h2{

    color: #001931;
    font-size: 48px;
    font-weight: 700;

}

.app-info{

    margin-top: 16px;
    font-size: 18px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;

}

.app-box{

    display: flex;
    gap: 16px;

}

.app-box .app-card{

    max-width: 322px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 6px 50px 0 #0000001b;
    gap: 16px;


}

.app-card img{

    background-color: #F95555;
    border-radius: 1000px;
    width: 60px;
    height: 60px;
    margin-top: 84px;

}

.app-card p{

    margin-bottom: 70px;
    margin-top: 16px;
    color: #627382;

}

.knowledge{

    margin: 120px;
    display: flex;
    gap: 60px;
    align-items: center;

}

.knowledge-text{

    margin-left: 60px;

}

.knowledge .knowledge-text p{

    font-size: 16px;
    font-weight: 500;
    color: #627382;

}

.knowledge .knowledge-image{

    display: flex;
    margin-top: 40px;
}

.knowledge p{

    margin-left: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;

}

.earlyaccess-container{

    max-width: 1360px;
    background-color: #F7F6F2;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin: 2px 120px 120px 120px;

}

.earlyaccess-container h2{

    padding-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    color: #001931;

}

.earlyaccess-container p{

    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;

}

.earlyaccessinfo button{

    padding-bottom: 16px;
    margin: 0 auto;

}

.earlyaccessinfo{

    padding: 80px 40px 80px 40px;

}

.footer{

    background-color: #001931;
    border: 1px solid #001931;

}

.footer-nav{

    max-width: 1360px;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 80px;

}

.footer-nav hr{

    margin-top: 80px;

}

.footer-social h5{

    color: white;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;

}

.footer-nav p{

    margin-top: 30px;
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
