*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header{

    background-color: white;
    
    

}

nav{

    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}

.logo{

    width: 139px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.header-nav{

    max-width: 365px;
    list-style: none;
    color: black;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;


}

.btn{

    width: 164px;
    height: 44px;
    background-color: #469165;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    margin-right: 120px;

}

