*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header{

    background-color: white;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position-y: 98px;
    height: 750px;

}

nav{

    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}

.logo{

    width: 139px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.header-nav{

    max-width: 365px;
    list-style: none;
    color: black;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;


}

.btn1{

    width: 251px;
    height: 52px;
    background-color: #469165;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    margin-right: 120px;
    cursor: pointer;

}

.btn2{

    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(0, 255, 255, 0);
    padding: 16.5px 16px 16.5px 46px;
    color: white;
    background-color: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.header-button{

    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.header-content{

    padding: 115.5px;
    align-items: center;

}

.button{

    background-color: white;
    color: #30B868;
    border-radius: 1000px;
    text-align: center;
    padding: 8px 12px 8px 12px;
    max-width: 229px;
    margin: 0 auto;

}

.header-content h1{

    font-weight: 700;
    font-size: 72px;
    text-align: center;

}

.header-content span{

    color: #30B868;

}

.header-content p{

    max-width: 1360px;
    color: white;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;

}
